:root{
--primary-color: hsl(176, 36%, 22%);
--secodary-color:#9504d8;
--auxillary-color:#ffffff;
--padding-horizontal:100px;
}
body{
    margin: 0;
    font-family: poppin,sans-serif;
}
nav{
    background-color: gray;
    justify-content: space-between;
    padding:20px 100px 20px 100px;
    display: flex;
    align-items: center;
}
nav>div>a{
    text-decoration: none;
    color: gold;
}
nav>span>h1{
    color: #ffffff;
    margin-left: 4px;
}
.logo{
    display: flex;
}
#homeSection{
    font-size: 20px;
    font-family: poppin,sans-serif;
    background-color: aqua;
    display: flex;
    height: 60vh;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
}
 #homeSection>img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    aspect-ratio: 1/1;
    padding: 20px 30px 30px 20px;

 }
 #homeSection>div{
    margin-left: 120px;
    width: 50%;
 }
 #homeSection>div>p{
    font-family: popppin,sans-serif;
    font-size: 15px;
    color:var(--secodary-color);
    padding: 20px 30px 30px 20px;
 }
 #homeSection>div>button{
    background-color: magenta;
    width: 30%;
    color:blue;
    transition: 2s;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    border-radius: 40px;
 }
 #projectSection{
    height: 90vh;
    background-color: black;
 }
 #projectSection >.projects{
    display:flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
 }
 #projectSection>div>.card{
    background-color: aqua;
    width: 300px;
    height: 350px;
    border-radius: 30px;
    margin: 10px;
    padding: 16px;
 }
 #projectSection>div>.card>img{
    width: 280px;
    height: 153px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
 }
 #projectSection>div>.card>p{
font-size: 10px;
color: magenta;
margin-top: 10px;
 }
#projectSection>div>.card>h3{
    color:red;
    font-weight: bolder;
    text-align: left;
}
#projectSection>div>.card>button{
background-color: maroon;
    width: 50%;
    color:gold;
    transition: 2s;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 20px;
}


